<div class="container">
      <br>
      <h3>Reset your password?</h3>
      <br>
      <%= form_for(@user, url: users_edit_password_path, html: { method: :post,class: 'form-horizontal' }) do |f| %>
      <div class="form-group">
         <p class="notice" style="color: red;"><%= flash[:notice] %></p>

         <input type="hidden" name="token" value="<%=params[:token]%>">
         <%= f.password_field :password ,placeholder:"New password",class: "form-control",style: "max-width: 400px;",required: true, id: 'password'%><br>
         <%= f.password_field :password_confirmation,placeholder: "Password confirmation" ,autofocus: true ,class: "form-control",style: "max-width: 400px;",required: true%>
      </div>
      <div class="actions" style="padding-left: 0px;">
         <%= f.submit "Update Password",class: "btn btn-success", id: 'submit' %>
      </div>
      <% end %>
    </div>
